vaadin-app-layout::part(navbar) {
    background-color: white;
    background-image: unset;
}

.app-header {
    background-color: white;
    height: 128px;
    margin-bottom: 54px;
}

.app-header-icon {
    margin-right: 8px;
}

.app-header-profile {
    margin-left: auto;
    margin-right: 35px;
    margin-top: 25px;

    width: 60px;
    height: 60px;

    filter: drop-shadow(0px 0px 16px #EF9B5F);
    border-radius: 30px;
}

.app-drawer {
    background-color: #FAFBFB;
    border-right: 1px solid #EAEAEA;
    height: 100vh;
    flex-direction: column;
}

.app-drawer a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: #000000;
    text-decoration: none;
}

.app-drawer a:hover {
    background-color: #F3F4F6;
    font-weight: bold;
    border-radius: 10px;
}

.app-drawer a.router-link-active {
    background-color: #4CAF50;
    font-weight: bold;
}

.view-header {
    padding: 16px;
    width: 50%;
    font-weight: bold;
    margin-bottom: 16px;
}

.dashboard-entry {
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
}

.dashboard-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.dashboard-body > * {
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 0;
}

.hello-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.name-title {
    margin-top: -15px;
    font-size: 24px;
    font-weight: bold;
}

.introduction-layout {
    margin-left: 51px;
}